#Fila2{
    padding-bottom: 107px;
}

#margenEspecial{
    margin-top: 70px;
    background: rgba(86, 160, 221, 0.795);
    color: white;
}

#margenEspecial2{
    width: 317px;
    margin-top: 70px;
    background: rgba(86, 160, 221, 0.795);
    color: white;
}



